@import "tailwindcss";

/* Body text - Roboto Light */
body {
  font-family: var(--font-roboto);
  font-weight: 300;
  color: #d1d5db;
  background-color: var(--color-zinc-950);
  line-height: 1.625;
}

/* Headings - Montserrat Bold */
h1 {
  font-family: var(--font-montserrat);
  font-size: 3rem; /* 48px */
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: var(--font-montserrat);
  font-size: 2.25rem; /* 36px */
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  font-family: var(--font-montserrat);
  font-size: 1.875rem; /* 30px */
  font-weight: 600;
  line-height: 1.3;
}

h4 {
  font-family: var(--font-montserrat);
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  line-height: 1.3;
}

@layer components {
  .card-base {
    @apply p-8 flex gap-8 rounded-2xl border border-gray-900/50 bg-linear-to-br from-zinc-800 to-zinc-950;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-scroll {
  animation: scroll 20s linear infinite;
}
